.header{
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bolder;
    box-shadow:  0 0 10px black;
    margin-bottom: 10px;
}
.content{
    color: black;
}
