@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.home{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
}
.container {
    max-width: 1280px;
    margin: auto;
}